html {
    font-size: 100%;
    font-family: inherit;
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.content {
    border: 1px solid black;
    display: inline-block;
    margin: 300px auto;
    padding: 10px;
    border-radius: 4px;
}
.form {
    padding: 5px;
}
.form input {
    padding: 8px;
    border: 1px solid #d3d3d3;
}
.submit {
    margin: 25px 0;
}
.submit input {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 4px;
}